:root {
  --page-bg-1: #c0c0c0; /* ~20% mais escuro que #f0f0f0 */
  --page-bg-2: #adadad; /* ~20% mais escuro que #d9d9d9 */
  --text-color: #0f172a;
}

html, body, #root {
  min-height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg, var(--page-bg-1) 0%, var(--page-bg-2) 100%);
  color: var(--text-color);
}


h1 {
  text-align: center;
  color: #0b3d57;
}

.registos-container {
  padding: 0 30px; /* borda à esquerda e à direita */
}

