body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #e8e8e8, #b8b8b8, #909090);
}


h1 {
  text-align: center;
  color: #0b3d57;
}

.registo-topo {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}

