body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #e8e8e8, #b8b8b8, #909090);
}


h1 {
  text-align: center;
  color: #0b3d57;
}

.registo-topo {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}

.voltar-btn {
  padding: 8px 16px;
  background-color: #28a745;       /* Verde bonito */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s;
}

.voltar-btn:hover {
  background-color: #218838;
}