.form-aluno {
  max-width: 1000px;
  margin: 30px auto;
  padding: 24px;
  background-color: #e2edf4;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.form-aluno h2 {
  text-align: center;
  color: #0b3d57;
  margin-bottom: 20px;
  font-size: 1.5em;
}

.form-aluno label {
  margin-top: 12px;
  margin-bottom: 4px;
  font-weight: 600;
  color: #0b3d57;
  
}

.form-aluno input,
.form-aluno select,
.form-aluno textarea {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
  border: 1px solid #0d4a63;
}

.form-aluno button {
 margin-top: 10px;
  padding: 20px;
  max-width: 200px;
  background-color: #0b3d57;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.2s;
  min-width: 800px;
  font-size: 20px;
}

.form-aluno button:hover {
  background-color: #084256;
}

.form-aluno .botoes {
  text-align: center;
  margin-top: 10px;
  
}

.form-aluno .botoes a {
  min-width: 780px;
  display: inline-block;
  padding: 10px;
  background-color: #0b3d57;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.2s;
}

.form-aluno .botoes a:hover {
  background-color: #084256;
}
